/* 하단부 */
#input-box-container {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #93c6e7;
}
#input-box {
  width: 180px;
  height: 40px;
  padding: 0 3px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
}

#start-button {
  width: 180px;
  height: 50px;
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
