/* 메인화면 */
#main-container {
  width: 90%;
  height: 82%;
  background-color: #aee2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-width: 0 1px;
  border-color: black;
  border-style: solid;
}

/* 랜덤생성단어박스 */
.random-str {
  position: absolute;
  padding: 0 4px;
  text-align: center;
  background-color: transparent;
  font-size: 1.5rem;
}

/* 시작 카운터 스타일 */
.start-counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 10%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.start-counter.act {
  font-size: 8rem;
}
