* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1dbbf;
}
/* 헤더 */
#header {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  position: relative;
  background-color: #b9f3fc;
}
#score-box {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 120px;
  height: 40px;
  padding-left: 5px;
  position: absolute;
  left: 0px;
  background-color: #fedeff;
  border: 2px solid black;
  border-radius: 3px;
}
#score-box > span {
  margin: 2px;
}
#header-text {
  font-size: 25px;
}
#button-box {
  position: absolute;
  right: 0px;
}
#start-button,
#stop-button {
  width: 80px;
  height: 40px;
  font-size: 20px;
  background-color: #fedeff;
  border: 5px outset #808080;
}
#start-button:hover,
#stop-button:hover {
  background-color: #8d1d91;
}
#start-button:active,
#stop-button:active {
  border: 5px inset #808080;
}

/* 메인화면 */
#main-container {
  width: 90%;
  height: 82%;
  background-color: #aee2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 랜덤생성단어박스 */
.random-str {
  padding: 0 4px;
  text-align: center;
  background-color: transparent;
}

/* 하단부 */
#input-box-container {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #93c6e7;
}
#input-box {
  width: 180px;
  height: 40px;
  padding: 0 3px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
}

/* 규칙 박스와 규칙 */

#rule,
#ranking {
  border: 2px solid black;
  padding: 1px 2px;
  cursor: pointer;
  flex-basis: 80px;
  background-color: #698269;
  color: white;
  text-align: center;
}
#ranking-container {
  width: 20%;
  height: 50%;
  position: absolute;
  background-color: beige;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  display: none;
  text-align: center;
  /* position absolute일 때 가운데 정렬 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rule:hover {
  background-color: gray;
}
#rule:hover ~ #rule-descriptor-container,
#ranking:hover ~ #ranking-container {
  display: block;
}
#rule-descriptor-container {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  background-color: beige;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  display: none;
}
.rule-descriptor {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}
