* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 헤더 */
#header {
  width: 90%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인화면 */
#main-container {
  width: 90%;
  height: 85%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 랜덤생성단어박스 */
.random-str {
  padding: 0 4px;
  text-align: center;
  background-color: transparent;
}

/* 밑 라인 */
#input-box-container {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input-box {
  width: 150px;
  height: 30px;
}

/* 규칙 박스와 규칙 */
#rule {
  border: 2px solid black;
  padding: 1px 2px;
  cursor: pointer;
}
#rule:hover {
  background-color: gray;
}
#rule:hover ~ #rule-descriptor-container {
  display: block;
}
#rule-descriptor-container {
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  background-color: beige;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  display: none;
}
.rule-descriptor {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}
